.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  max-width: 450px;
  margin: auto;

  &-input {
    width: 100%;
    input {
      border: 1px solid #ccc;
      padding: 5px;
      font-size: 16px;
      width: 100%;

      &:focus {
        outline: none !important;
        border: 1px solid rgb(101, 176, 236);
        box-shadow: 0 0 10px #719ECE;
      }
    }
  }
}
